.container {
  padding: 1em;
  background-color: #ffff;
}

.blog-item {
  /* margin-left: 10px; */
  padding: 0 10px 00px 10px;
  border: 1px none #ccc;
  border-radius: 0;
  background-color: #ffff;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
  display: inline-block;
  margin-top: 15px;
  justify-content: space-between;
  max-height: 23.5rem;
}

.special-blogs-container {
  display: table-row;
  justify-content: space-between;
  width: 100%;
}

.special-category {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 10px;
  background-color: #ffccd5;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  width: 6rem;
  margin: 4px auto auto 5px;
}

.special-category:hover {
  background-color: #e63946;
  width: 100%;
  transition: ease 0.5s;
  color: wheat;
}
.special-blog {
  flex-basis: 22rem;
  padding: 5px;
  position: relative;
  min-width: 35rem;
  margin-left: 2rem;
}

.special-blog-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  /* border-radius: 10px; */
}

.special-blog-title {
  position: absolute;
  bottom: -3px; /* Adjust this value to control the vertical position of the title */
  left: 5px; /* Adjust this value to control the horizontal position of the title */
  /* background: linear-gradient(to right, #efefbb, #d4d3dd); */
  color: #ffff; /* Set the text color for the title */
  padding: 5px 10px; /* Add padding to the title for better presentation */
  font-size: 20px;
  text-align: start;
}

.blog-image {
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  object-fit: cover;
  border-radius: 0;
}

.blog-title {
  font-size: 1.1rem;
  font-weight: 500;
  width: 15rem;
  float: left;
  min-height: 3rem;
  text-align: start;
  line-height: 1.3;
  margin-left: 0;
}

.blog-description {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 6em;
  margin-left: 0;
  text-align: start;
}

.blog-date {
  font-size: 14px;
  color: #777;
  float: left;
}

.blog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.blog-actions a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.blog-actions a:hover {
  color: #0056b3;
}

.hr-divider {
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

/* Custom styles for the three blogs in a row layout */
.blog-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* width: 55rem; */
  margin: 0 1rem;
}

.read-more {
  text-decoration: none;
  float: left;
  margin-top: 4rem;
  margin-left: -15rem;
  padding: 5px 0;
  line-height: 2;
  max-height: 2em;
  min-height: 2em;
  font-size: 15px;
}

link:active {
  color: #dad7cd;
}

.edit {
  float: left;
  margin-top: -2.5rem;
  /* margin-right: -4rem; */
  margin-left: 1.5rem;
  padding-bottom: 5px;
  padding-top: 8px;
  color: #777;
  position: relative;
}

.col-md-3.blog-item {
  /* Add box shadow */
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.category {
  /* Add styles for each category */
  /* For example, you can set the background color, padding, font size, etc. */
  /* display: inline-block; */
  /* margin-right: 5px; */
  padding: 5px 10px;
  background-color: #ffccd5;
  color: #333;
  font-size: 14px;
  border-radius: 0px;
  float: left;
  cursor: pointer;
  width: 6rem;
}

.category:hover {
  background-color: #e63946;
  width: 100%;
  transition: ease 1s;
  color: wheat;
}

/* Add the following CSS styles to your style.css file */

/* Styling for the recent posts container */
.recent-posts-container {
  margin-top: 2.5rem;
  padding: 1rem;
  background-color: #f9f9f9;
  min-width: 30rem;
}

.recent-posts-container h2 {
  text-align: start;
  padding-left: 15px;
}

.recent-posts-container hr {
  width: 3rem;
  border: 2px solid black;
  margin-top: 5px;
  margin-left: 15px;
}

/* Styling for the grid container */
.grid-container {
  margin-top: 1.5rem;
  display: grid;
  gap: 1rem;
}

/* Styling for the recent post items */

.recent-post-item {
  background-color: #ffff;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto 1fr; /* Adjust the proportions as needed */
  gap: 1rem; /* Add some spacing between grid items */
  align-items: center; /* Center items vertically */
  position: relative; /* Position the container relative to its parent */
}

.recent-post-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  min-width: 15rem;
  max-width: 15rem;
}

.post-content {
  /* Use flexbox for title, description, and date in a column */
  display: flex;
  flex-direction: column;
}

.recent-post-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: start;
  color: black;
  margin: 0;
  padding-bottom: 8px;
}

.recent-post-desc {
  font-size: 0.9rem;
  color: #444;
  margin: 0;
  line-height: 1.7;
  text-align: justify;
}

.recent-post-date {
  font-size: 0.9rem;
  color: #a6a2a2;
  margin: 0;
  text-align: start;
  padding-top: 1em;
}

.recent-category {
  /* Position the category at the top left corner */
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: #ffccd5;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  width: 6rem;
  margin: 11px auto auto 6px;
  /* Height: Remove the height property to let it adjust based on content */
}

.recent-category:hover {
  background-color: #e63946;
  width: 15rem;
  transition: ease 1s;
  color: wheat;
}
